<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />




    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"

        android:theme="@style/MyAppTheme"

        android:localeConfig="@xml/locales_config">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.immagic.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>



        <activity android:name=".RunController"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".first_use.SetName"/>
        <activity android:name=".first_use.SetFirstNotification"/>
        <activity android:name=".first_use.setLanguage.SetFirstLanguage"/>
        <activity android:name=".nawigation.ManageNawigation"/>
        <activity android:name=".onboarding.OnBoardingActivity"/>

        <activity android:name=".MainActivity"/>
        <activity android:name=".homepage.Play.Summary"/>
        <activity android:name=".homepage.Play.QuoteActivity"/>

        <activity android:name=".nawigation.myprofile.settings.Theme"/>
        <activity android:name=".nawigation.myprofile.settings.EditProfile"/>
        <activity android:name=".nawigation.myprofile.settings.PrivacyPolicy"/>
        <activity android:name=".nawigation.myprofile.settings.TermsOfService"/>
        <activity android:name=".nawigation.myprofile.settings.AboutUs"/>
        <activity android:name=".nawigation.myprofile.settings.SetLanguage"/>

        <activity android:name=".nawigation.myprofile.myaddedcards.MyCards"/>
        <activity android:name=".nawigation.myprofile.myrecordings.MyRecordings"/>
        <activity android:name=".nawigation.myprofile.myequipment.MyEquipment"/>
        <activity android:name=".nawigation.myprofile.myaddedcards.MyAddedCards"/>


        <activity android:name=".nawigation.categories.category.categoryselection.CategorySelection"/>
        <activity android:name=".nawigation.categories.category.categoryselection.CategoryOverView"/>

        <activity android:name=".Subscription.SubscriptionOverView"/>

        <receiver
            android:name=".backgroundtasks.MyAlarmReceiver"
            android:exported="false" />



    </application>

</manifest>